[package]
name = "blitz"
description = "High-level APIs for rendering HTML with Blitz"
documentation = "https://docs.rs/blitz"
version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
categories.workspace = true
edition.workspace = true
rust-version.workspace = true

[features]
default = ["net", "accessibility", "tracing"]
net = ["dep:tokio", "dep:url", "dep:blitz-net"]
accessibility = ["blitz-shell/accessibility"]
tracing = ["blitz-shell/tracing"]

[dependencies]
# Blitz dependencies
anyrender_vello = { workspace = true }
blitz-traits = { workspace = true }
blitz-dom = { workspace = true }
blitz-html = { workspace = true }
blitz-shell = { workspace = true }
blitz-paint = { workspace = true }
blitz-net = { workspace = true, optional = true }

# IO & Networking
url = { workspace = true, features = ["serde"], optional = true }
tokio = { workspace = true, features = ["rt-multi-thread"], optional = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
