[package]
name = "blitz"
version = "0.0.0"
license.workspace = true
edition = "2021"

[features]
default = ["net", "accessibility", "menu", "tracing", "svg"]
svg = ["blitz-renderer-vello/svg"]
net = ["dep:tokio", "dep:reqwest", "dep:url", "dep:blitz-net"]
accessibility = ["blitz-shell/accessibility"]
menu = ["blitz-shell/menu"]
tracing = ["blitz-shell/tracing"]

[dependencies]
# Blitz dependencies
blitz-renderer-vello = { path = "../blitz-renderer-vello" }
blitz-html = { path = "../blitz-html" }
blitz-shell = { path = "../blitz-shell" }
blitz-net = { path = "../blitz-net", optional = true }

# IO & Networking
url = { workspace = true, features = ["serde"], optional = true }
tokio = { workspace = true, features = ["rt-multi-thread"], optional = true }
reqwest = { workspace = true, optional = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
