[package]
name = "blitz"
version = "0.1.0"
edition = "2021"
authors = ["Jonathan Kelley <jkelleyrtp@gmail.com>"]
description = "Native iced-wgpu based renderer for Dioxus"
license = "MIT/Apache-2.0"
repository = "https://github.com/DioxusLabs/blitz"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus = { git = "https://github.com/DioxusLabs/dioxus", features = [
    "native-core",
] }
taffy = "0.1"
tokio = { version = "1.17.0", features = ["full"] }
parcel_css = "1.0.0-alpha.25"
cssparser = "0.29.2"
piet-wgpu = { git = "https://github.com/DioxusLabs/piet-wgpu" }
tao = "0.11.2"
raw-window-handle = "0.4.2"
anymap = "0.12.1"
futures-util = "0.3.21"
fxhash = "0.2"
