
[workspace]
# members = ["packages/dom"]
# members = ["packages/blitz", "packages/dom", "packages/dioxus-blitz"]
# exclude = ["packages/blitz", "packages/dioxus-blitz"]
members = ["packages/blitz", "packages/dom", "packages/dioxus-blitz", "packages/net", "packages/traits"]
resolver = "2"

[workspace.dependencies]
style = { git = "https://github.com/dioxuslabs/stylo", branch = "blitz" }
style_config = { git = "https://github.com/dioxuslabs/stylo", branch = "blitz" }
style_traits = { git = "https://github.com/dioxuslabs/stylo", branch = "blitz" }
style_dom = { git = "https://github.com/dioxuslabs/stylo", package = "dom", branch = "blitz" }
selectors = { git = "https://github.com/dioxuslabs/stylo", branch = "blitz" }
html5ever = "0.29" # needs to match stylo markup5ever version
taffy = { git = "https://github.com/dioxuslabs/taffy", rev = "950a0eb1322f15e5d1083f4793b55d52061718de" }
parley = { git = "https://github.com/nicoburns/parley", rev = "186b6e991d08731c0588dc0b247564cbba1c0435" }
dioxus = { git = "https://github.com/dioxuslabs/dioxus", rev = "d0c9b6712d22e8fced9f0b0ac253e266d73eb3d1" }
dioxus-ssr = { git = "https://github.com/dioxuslabs/dioxus", rev = "d0c9b6712d22e8fced9f0b0ac253e266d73eb3d1" }
tokio = { version = "1.25.0", features = ["full"] }
tracing = "0.1.40"
vello = { git = "https://github.com/linebender/vello", rev = "aaa9f5f2d0f21f3d038501ea0cf32c989d97aab3", package = "vello", features = [ "wgpu" ] }
peniko = { version = "0.1" }
# fello = { git = "https://github.com/linebender/vello" }
wgpu = "22.1.0"

# This is a "virtual package"
# It is not meant to be published, but is used so "cargo run --example XYZ" works properly
[package]
name = "blitz-examples"
version = "0.0.1"
authors = ["Jonathan Kelley"]
edition = "2021"
description = "Top level crate for Blitz"
license = "MIT OR Apache-2.0"
keywords = ["dom", "ui", "gui", "react", "wasm"]
rust-version = "1.70.0"
publish = false

[profile.dev.package."*"]
opt-level = 2

[profile.sizeopt]
inherits = "release"
opt-level = "z"
debug = false
lto = true
codegen-units = 1
strip = true
incremental = false

# Need to force specific versions of these dependencies
[dev-dependencies]
# webrender = "0.61.0"
# mozbuild = "0.1.0"
blitz = { path = "./packages/blitz" }
blitz-dom = { path = "./packages/dom" }
blitz-net = { path = "./packages/net" }
blitz-traits = { path = "./packages/traits" }
comrak = { git = "https://github.com/nicoburns/comrak", branch = "tasklist-class", default-features = false, features = ["syntect"] }
png = { version = "0.17" }
dioxus-blitz = { path = "./packages/dioxus-blitz" }
dioxus = { workspace = true }
euclid = { version = "0.22", features = ["serde"] }
reqwest = "0.11.24"
tokio = { version = "1.36.0", features = ["full"] }
tracing-subscriber = "0.3"
ureq = "2.9"

# [patch.crates-io]
# [patch."https://github.com/dioxuslabs/taffy"]
# taffy = { path = "../taffy" }

# [patch."https://github.com/nicoburns/parley"]
# parley = { path = "../parley/parley" }
# fontique = { path = "../parley/fontique" }

# # need to match the patching of
# [patch."https://github.com/servo/webrender"]
# webrender_api = { git = "https://github.com/servo/servo", rev = "95931de" }
# webrender = { git = "https://github.com/servo/servo", rev = "95931de" }

# [patch.crates-io]
# webrender_api = { git = "https://github.com/servo/servo", rev = "95931de" }
# webrender = { git = "https://github.com/servo/servo", rev = "95931de" }


# webrender_api = { path = "../../../servo/third_party/webrender/webrender_api" }
# webrender = { path = "../../../servo/third_party/webrender/webrender" }
# webrender_api = { path = "../../../servo/third_party/webrender/webrender_api" }
# webrender = { path = "../../../servo/third_party/webrender/webrender" }

# [patch."https://github.com/servo/webrender"]
# webrender_api = { path = "../servo/third_party/webrender/webrender_api" }
# webrender = { path = "../servo/third_party/webrender/webrender" }

# [patch.crates-io]
# webrender_api = { path = "../servo/third_party/webrender/webrender_api" }
# webrender = { path = "../servo/third_party/webrender/webrender" }
