[package]
name = "mini-dxn"
description = "Mini Dioxus Native for testing Blitz"
version = "0.0.0"
homepage = "https://github.com/dioxuslabs/blitz"
repository = "https://github.com/dioxuslabs/blitz"
documentation = "https://docs.rs/mini-dxn"
license.workspace = true
edition = "2024"
# This crate is only for internal use when developing Blitz.
# The main dioxus-native crate lives in the Dioxus repo.
publish = false

[features]
default = ["accessibility", "hot-reload", "menu", "tracing", "net", "svg", "gpu_backend"]
svg = ["blitz-dom/svg", "blitz-paint/svg"]
net = ["dep:tokio", "dep:blitz-net"]
accessibility = ["blitz-shell/accessibility", "blitz-dom/accessibility"]
autofocus = ["blitz-dom/autofocus"]
menu = ["blitz-shell/menu"]
tracing = ["dep:tracing", "blitz-shell/tracing", "blitz-dom/tracing"]
hot-reload = ["dep:dioxus-cli-config", "dep:dioxus-devtools"]
gpu_backend = ["dep:anyrender_vello"]
cpu_backend = ["dep:anyrender_vello_cpu"]

[dependencies]
# Blitz dependencies
anyrender_vello = { path = "../anyrender_vello", default-features = false, optional = true }
anyrender_vello_cpu = { path = "../anyrender_vello_cpu", default-features = false, optional = true }
blitz-paint = { version = "0.1.0-alpha.1", path = "../blitz-paint", default-features = false }
blitz-dom = { version = "0.1.0-alpha.1", path = "../blitz-dom", default-features = false }
blitz-net = { version = "0.1.0-alpha.1", path = "../blitz-net", optional = true }
blitz-traits = { version = "0.1.0-alpha.1", path = "../blitz-traits" }
blitz-shell = { version = "0.1.0-alpha.1", path = "../blitz-shell", default-features = false }

# DioxusLabs dependencies
dioxus-core = { workspace = true }
dioxus-html = { workspace = true }
dioxus-cli-config = { workspace = true, optional = true }
dioxus-devtools = { workspace = true, optional = true }

# Windowing & Input
winit = { workspace = true }
keyboard-types = { workspace = true }

# IO & Networking
tokio = { workspace = true, features = ["rt-multi-thread"], optional = true }

# Other dependencies
tracing = { workspace = true, optional = true }
rustc-hash = { workspace = true }
futures-util = { workspace = true }



[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
