[package]
name = "dioxus-blitz"
version = "0.0.0"
edition = "2021"

[features]
menu = ["dep:muda"]
default = ["menu"]

[dependencies]
winit = { version = "0.30.2", features = ["rwh_06"] }
muda = { version = "0.11.5", features = ["serde"], optional = true }
tokio = { workspace = true, features = ["full"] }
dioxus = { workspace = true }
futures-util = "0.3.30"
vello = { workspace = true }
wgpu = { workspace = true }
style = { workspace = true }
blitz = { path = "../blitz" }
blitz-dom = { path = "../dom" }
url = { version = "2.5.0", features = ["serde"] }
ureq = "2.9"
rustc-hash = "1.1.0"

[target.'cfg(target_os = "android")'.dependencies]
android-activity = { version = "0.6.0", features = ["native-activity"] }
