[package]
name = "blitz-shell"
description = "Blitz application shell"
version = "0.1.0-alpha.2"
homepage = "https://github.com/dioxuslabs/blitz"
repository = "https://github.com/dioxuslabs/blitz"
documentation = "https://docs.rs/blitz-shell"
license.workspace = true
edition = "2024"

[features]
default = ["accessibility", "clipboard", "tracing"]
accessibility = ["dep:accesskit", "dep:accesskit_winit", "blitz-dom/accessibility"]
clipboard = ["dep:arboard"]
tracing = ["dep:tracing", "blitz-dom/tracing"]

[dependencies]
# Blitz dependencies
blitz-traits = { version = "0.1.0-alpha.2", path = "../blitz-traits" }
blitz-dom = { version = "0.1.0-alpha.2", path = "../blitz-dom", default-features = false }
blitz-paint = { version = "0.1.0-alpha.2", path = "../blitz-paint", default-features = false }
anyrender = { version = "0.1", path = "../anyrender", default-features = false }

# Windowing & Input
winit = { workspace = true }
keyboard-types = { workspace = true }

accesskit = { workspace = true, optional = true }
accesskit_winit = {workspace = true, optional = true }

# Other dependencies
tracing = { workspace = true, optional = true }
futures-util = { workspace = true }

[target.'cfg(target_os = "android")'.dependencies]
android-activity = { version = "0.6.0", features = ["native-activity"] }

[target.'cfg(any(target_os = "windows",target_os = "macos",target_os = "linux",target_os = "dragonfly", target_os = "freebsd", target_os = "netbsd", target_os = "openbsd"))'.dependencies]
arboard = { workspace = true, optional = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
