.markdown-body {
  max-width: 892px;
  padding: 16px 32px;
  margin: 0 auto;
}

.markdown-body table {
  display: table;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #0d1117;
  }
}