.markdown-body {
  max-width: 892px;
  padding: 16px 32px;
  margin: 0 auto;
}

.markdown-body table {
  display: table;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #0d1117;
  }

  [href$="#gh-light-mode-only"] {
    display: none !important;
  }
  [src$="#gh-light-mode-only"] {
    display: none !important;
  }
}

@media (prefers-color-scheme: light) {
  [href$="#gh-dark-mode-only"] {
    display: none !important;
  }
  [src$="#gh-dark-mode-only"] {
    display: none !important;
  }
}

.giallo {
  background: #f6f8fa !important;
}