[package]
name = "readme"
version = "0.1.0"
edition = "2021"
license.workspace = true

[dependencies]
blitz-dom = { path = "../../packages/blitz-dom" }
blitz-net = { path = "../../packages/blitz-net" }
blitz-traits = { path = "../../packages/blitz-traits" }
blitz-html = { path = "../../packages/blitz-html" }
blitz-renderer-vello = { path = "../../packages/blitz-renderer-vello" }
blitz-shell = { path = "../../packages/blitz-shell", features = ["tracing"] }
tokio = { workspace = true }
reqwest = { workspace = true }
url = { workspace = true }
winit = { workspace = true }
comrak = { version = "0.31", default-features = false, features = ["syntect"] }