[package]
name = "blitz-dom"
description = "Blitz DOM implementation"
version = "0.1.0-alpha.3"
homepage = "https://github.com/dioxuslabs/blitz"
repository = "https://github.com/dioxuslabs/blitz"
documentation = "https://docs.rs/blitz-dom"
license.workspace = true
edition = "2024"

[features]
default = ["tracing", "svg", "woff-c", "accessibility", "system_fonts"]
tracing = ["dep:tracing"]
svg = ["dep:usvg"]
# WOFF decoding using the "woff" crate which binds to C libraries
# ("woff" for woff2) and "sfnt2woff" for woff1).
# Both woff1 and woff2 are supported
woff-c = ["dep:woff"]
# WOFF decoding using the "woff2" crate which is pure Rust
# Only woff2 is supported. Does not work correct with all woff2 fonts
woff-rust = ["dep:woff2"]
accessibility = ["accesskit"]
system_fonts = ["parley/system"]
autofocus = []

[dependencies]
# Blitz dependencies
blitz-traits = { version = "0.1.0-alpha.3", path = "../blitz-traits" }
stylo_taffy = { version = "0.1.0-alpha.3", path = "../stylo_taffy" }

# Servo dependencies
style = { workspace = true }
selectors = { workspace = true }
style_config = { workspace = true }
style_traits = { workspace = true }
style_dom = { workspace = true }
app_units = { workspace = true }
euclid = { workspace = true }
atomic_refcell = { workspace = true }
markup5ever = { workspace = true }
smallvec = { workspace = true }
cssparser = { workspace = true }
mime = { workspace = true }

# DioxusLabs dependencies
taffy = { workspace = true }

# Linebender dependencies
accesskit = { workspace = true, optional = true }
parley = { workspace = true }
peniko = { workspace = true }
color = { workspace = true }

# Other dependencies
slab = { workspace = true }
bitflags = { workspace = true }
tracing = { workspace = true, optional = true }

# Media & Decoding
image = { workspace = true }
usvg = { workspace = true, optional = true }
woff = { workspace = true, optional = true, features = ["version2"] }
woff2 = { workspace = true, optional = true }
html-escape = { workspace = true }
percent-encoding = { workspace = true }

# IO & Networking
url = { workspace = true }

# Input
keyboard-types = { workspace = true }
cursor-icon = { workspace = true }

# HACK: Blitz doesn't need to depend on objc2 directly. But this feature flag is necessary
# to prevent debug builds from panicking.
[target.'cfg(any(target_vendor = "apple"))'.dependencies]
objc2 = { version = "0.6", features = ["disable-encoding-assertions"] }