[package]
name = "blitz-dom"
version = "0.0.0"
license.workspace = true
edition = "2021"

[features]
default = ["tracing", "svg", "woff", "clipboard", "accessibility"]
tracing = ["dep:tracing"]
svg = ["dep:usvg"]
woff = ["dep:woff"]
woff2 = ["dep:woff2"]
clipboard = ["dep:arboard"]
accessibility = ["accesskit"]
log_phase_times = ["debug_timer/enable"]

[dependencies]
# Blitz dependencies
blitz-traits = { path = "../blitz-traits" }
stylo_taffy = { path = "../stylo_taffy" }

# Servo dependencies
style = { workspace = true, features = ["servo"] }
selectors = { workspace = true }
style_config = { workspace = true }
style_traits = { workspace = true }
style_dom = { workspace = true }
app_units = { workspace = true }
euclid = { workspace = true, features = ["serde"] }
atomic_refcell = { workspace = true, features = ["serde"] }
string_cache = { workspace = true }
markup5ever = { workspace = true }
smallvec = { workspace = true }

# DioxusLabs dependencies
taffy = { workspace = true }

# Linebender dependencies
accesskit = { workspace = true, optional = true }
parley = { workspace = true }
peniko = { workspace = true }
color = { workspace = true }

# Other dependencies
slab = { workspace = true }
tracing = { workspace = true, optional = true }

# Media & Decoding
image = { workspace = true }
usvg = { workspace = true, optional = true }
woff = { workspace = true, optional = true }
woff2 = { workspace = true, optional = true }
html-escape = { workspace = true }

# IO & Networking
url = { workspace = true, features = ["serde"] }

# Input
keyboard-types = { workspace = true }
cursor-icon = { workspace = true }

[target.'cfg(any(target_os = "windows",target_os = "macos",target_os = "linux",target_os = "dragonfly", target_os = "freebsd", target_os = "netbsd", target_os = "openbsd"))'.dependencies]
arboard = { workspace = true, optional = true }

debug_timer = { version = "0.1.3" }
