[package]
name = "blitz-dom"
version = "0.0.0"
license.workspace = true
edition = "2021"

[features]
default = ["tracing"]
tracing = ["dep:tracing"]

[dependencies]
# Blitz dependencies
blitz-traits = { path = "../blitz-traits" }
stylo_taffy = { path = "../stylo_taffy" }

# Servo dependencies
style = { workspace = true, features = ["servo"] }
selectors = { workspace = true }
style_config = { workspace = true }
style_traits = { workspace = true }
style_dom = { workspace = true }
app_units = { workspace = true }
euclid = { workspace = true, features = ["serde"] }
atomic_refcell = { workspace = true, features = ["serde"] }
html5ever = { workspace = true }
xml5ever = { workspace = true }
string_cache ={ workspace = true }

# DioxusLabs dependencies
taffy = { workspace = true }

# Linebender dependencies
parley = { workspace = true }
peniko = { workspace = true }
arboard = { workspace = true }
tracing = { workspace = true, optional = true }
slab = { workspace = true }

# Media & Decoding
image = { workspace = true }
usvg = { workspace = true }
woff = { workspace = true }
html-escape = { workspace = true }

# IO & Networking
url = { workspace = true, features = ["serde"] }
data-url = { workspace = true }

# Input
winit = { workspace = true }