[package]
name = "blitz-dom"
description = "Blitz DOM implementation"
documentation = "https://docs.rs/blitz-dom"
version = "0.1.3"
license.workspace = true
homepage.workspace = true
repository.workspace = true
categories.workspace = true
edition.workspace = true
rust-version.workspace = true

[features]
default = [
    "tracing",
    "svg",
    "woff-rust",
    "accessibility",
    "system_fonts",
    "file_input",
]
tracing = ["dep:tracing"]
svg = ["dep:usvg"]
# WOFF decoding using the "woff" crate which binds to C libraries
woff-c = ["dep:woff"]
# WOFF decoding using the "wuff" crate which is pure Rust
woff-rust = ["dep:wuff"]
accessibility = ["accesskit"]
system_fonts = ["parley/system"]
autofocus = []
file_input = []
log_phase_times = ["debug_timer/enable"]

[dependencies]
# Blitz dependencies
blitz-traits = { workspace = true }
stylo_taffy = { workspace = true, features = ["default"] }
debug_timer = { workspace = true }

# Servo dependencies
style = { workspace = true }
selectors = { workspace = true }
cssparser = { workspace = true }
style_config = { workspace = true }
style_traits = { workspace = true }
style_dom = { workspace = true }
app_units = { workspace = true }
euclid = { workspace = true }
atomic_refcell = { workspace = true }
markup5ever = { workspace = true }
smallvec = { workspace = true }

# DioxusLabs dependencies
taffy = { workspace = true }

# Linebender/Fontations dependencies
accesskit = { workspace = true, optional = true }
parley = { workspace = true }
skrifa = { workspace = true }
peniko = { workspace = true }
color = { workspace = true }

# Other dependencies
slab = { workspace = true }
bitflags = { workspace = true }
tracing = { workspace = true, optional = true }
fastrand = { workspace = true }

# Media & Decoding
image = { workspace = true }
usvg = { workspace = true, optional = true }
woff = { workspace = true, optional = true, features = ["version1", "version2"] }
wuff = { workspace = true, optional = true }
html-escape = { workspace = true }
percent-encoding = { workspace = true }

# IO & Networking
url = { workspace = true }

# Input
keyboard-types = { workspace = true }
cursor-icon = { workspace = true }

# HACK: Blitz doesn't need to depend on objc2 directly. But this feature flag is necessary
# to prevent debug builds from panicking.
[target.'cfg(any(target_vendor = "apple"))'.dependencies]
objc2 = { version = "0.6", features = ["disable-encoding-assertions"] }
