
* {
    box-sizing: border-box;
}

html, body, #main, #frame {
    margin: 0;
    padding: 0;
    height: 100%;
}

#frame {
    display: flex;
    flex-direction: column;
}

.urlbar {
    padding: 6px 6px;
    gap: 6px;
    background: #F9F9F9;
    border-bottom: 1px solid #EEE;
    display: flex;
}

.urlbar-input {
    flex: 1 1 60px;
    border: 1px solid #CCC;
    border-radius: 4px;
    line-height: 1;
    padding: 6px;
    min-width: 60px;
    font-size: 14px;

    &:focus {
        border-color: #5E9ED6;
        outline: 1px solid #5E9ED6;
    }
}

.iconbutton {
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        background: #CCC;
    }

    &:active {
        background: #BBB;
    }

    > .urlbar-icon {
        height: 20px;
    }
}

.webview {
    flex: 1 1 0px;
    height: 100%;
    width: 100%;
}
