name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  RUSTDOCFLAGS: "-D warnings"
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: "sparse"

jobs:

  # MSRV check.
  # Blitz only guarantees "latest stable". However we have this check here to ensure that we advertise
  # our MSRV. We also make an effort not to increase MSRV in patch versions of Blitz.
  #
  # We only run `cargo build` (not `cargo test`) so as to avoid requiring dev-dependencies to build with the MSRV
  # version. Building is likely sufficient as runtime errors varying between rust versions is very unlikely.
  build-msrv:
    name: "MSRV Build [Rust 1.89]"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.89
      - run: perl -pi.bak -e 's/opt-level = 2/opt-level = 0/g' Cargo.toml
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgtk-3-dev libxdo-dev
          version: 1.0
      - run: cargo build --workspace

  build-features-default:
    name: "Build [default features]"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: perl -pi.bak -e 's/opt-level = 2/opt-level = 0/g' Cargo.toml
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgtk-3-dev libxdo-dev
          version: 1.0
      - run: cargo build --workspace

  build-features-incremental:
    name: "Build [default+incremental]"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: perl -pi.bak -e 's/opt-level = 2/opt-level = 0/g' Cargo.toml
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgtk-3-dev libxdo-dev
          version: 1.0
      - run: cargo build -p readme --features incremental

  test-features-default:
    name: "Test [default features]"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: perl -pi.bak -e 's/opt-level = 2/opt-level = 0/g' Cargo.toml
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgtk-3-dev libxdo-dev
          version: 1.0
      - run: cargo test --workspace

  build-counter:
    name: "Build counter example"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: perl -pi.bak -e 's/opt-level = 2/opt-level = 0/g' Cargo.toml
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgtk-3-dev libxdo-dev
          version: 1.0
      - run: cargo build -p counter

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - run: cargo fmt --all --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy
      - run: perl -pi.bak -e 's/opt-level = 2/opt-level = 0/g' Cargo.toml
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libgtk-3-dev libxdo-dev
          version: 1.0
      - run: cargo clippy --workspace -- -D warnings

  doc:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo doc

  # just cargo check for now
  matrix_test:
    runs-on: ${{ matrix.platform.os }}
    env:
      RUST_CARGO_COMMAND: ${{ matrix.platform.cross == true && 'cross' || 'cargo' }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - {
              name: windows,
              target: x86_64-pc-windows-msvc,
              os: windows-latest,
              cross: false,
              command: "test",
              args: "--all --tests",
            }
          - {
              name: macos,
              target: aarch64-apple-darwin,
              os: macos-latest,
              cross: false,
              command: "test",
              args: "--all --tests",
            }
          - {
              name: linux,
              target: x86_64-unknown-linux-gnu,
              os: ubuntu-latest,
              cross: false,
              command: "test",
              args: "--all --tests",
            }
          - {
              name: ios,
              target: aarch64-apple-ios,
              os: macos-latest,
              cross: false,
              command: "build",
              args: "--all",
            }
          - {
              name: android,
              target: aarch64-linux-android,
              os: ubuntu-latest,
              cross: true,
              command: "build",
              args: "--all",
            }

    name: Test (${{ matrix.platform.name }})

    steps:
      - uses: actions/checkout@v4
      - name: install stable
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: ${{ matrix.platform.target }}
          components: rustfmt

      # Install cross from source. Because latest release doesn't work with recent Rust
      # when targeting Android. See https://github.com/cross-rs/cross/issues/1222
      - name: Install cross
        if: ${{ matrix.platform.cross == true }}
        run: cargo install cross --git https://github.com/cross-rs/cross --rev 426e811

      # This is currently disabled as Blitz's CI doesn't need the extra disk space.
      # So this task is just taking up time for no reason. We will reinstate if our
      # disk space requirement increase.
      #
      # - name: Free Disk Space (Ubuntu)
      #   if: ${{ matrix.platform.os == 'ubuntu-latest' }}
      #   uses: jlumbroso/free-disk-space@v1.3.1
      #   with: # speed things up a bit
      #     large-packages: false
      #     docker-images: false
      #     swap-storage: false

      - uses: Swatinem/rust-cache@v2
        with:
          key: "${{ matrix.platform.target }}"
          cache-all-crates: "true"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Install apt deps
        if: ${{ matrix.platform.os == 'ubuntu-latest' }}
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libasound2-dev libatk1.0-dev libgtk-3-dev libudev-dev libpango1.0-dev libxdo-dev libssl-dev
          version: 1.0

      - name: Setup
        run: ${{ matrix.platform.setup }} 
        shell: bash

      - name: test
        run: |
          ${{ env.RUST_CARGO_COMMAND }} ${{ matrix.platform.command }} ${{ matrix.platform.args }} --target ${{ matrix.platform.target }}
